@use 'variables';

@font-face {
  font-family: '#{variables.$icomoon-font-family}';
  font-style: normal;
  font-weight: normal;
  src:
    url('#{variables.$icomoon-font-path}/#{variables.$icomoon-font-family}.ttf?z92r0p') format('truetype'),
    url('#{variables.$icomoon-font-path}/#{variables.$icomoon-font-family}.woff?z92r0p') format('woff'),
    url('#{variables.$icomoon-font-path}/#{variables.$icomoon-font-family}.svg?z92r0p##{variables.$icomoon-font-family}') format('svg');
  font-display: block;
}

[class^='icon-mappps-'],
[class*=' icon-mappps-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{variables.$icomoon-font-family}' !important;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  speak: never;
}

.icon-mappps-list {
  &::before {
    content: variables.$icon-mappps-list;
  }
}

.icon-mappps-shrink {
  &::before {
    content: variables.$icon-mappps-shrink;
  }
}

.icon-mappps-map {
  &::before {
    content: variables.$icon-mappps-map;
  }
}

.icon-mappps-enlarge {
  &::before {
    content: variables.$icon-mappps-enlarge;
  }
}

.icon-mappps-refresh {
  &::before {
    content: variables.$icon-mappps-refresh;
  }
}

.icon-mappps-minus {
  &::before {
    content: variables.$icon-mappps-minus;
  }
}

.icon-mappps-sun {
  &::before {
    content: variables.$icon-mappps-sun;
  }
}

.icon-mappps-moon {
  &::before {
    content: variables.$icon-mappps-moon;
  }
}

.icon-mappps-marker {
  &::before {
    content: variables.$icon-mappps-marker;
  }
}

.icon-mappps-geolocation {
  &::before {
    content: variables.$icon-mappps-geolocation;
  }
}

.icon-mappps-fullscreen {
  &::before {
    content: variables.$icon-mappps-fullscreen;
  }
}

.icon-mappps-fullscreen-exit {
  &::before {
    content: variables.$icon-mappps-fullscreen-exit;
  }
}

.icon-mappps-new-tab {
  &::before {
    content: variables.$icon-mappps-new-tab;
  }
}

.icon-mappps-exit {
  &::before {
    content: variables.$icon-mappps-exit;
  }
}

.icon-mappps-download {
  &::before {
    content: variables.$icon-mappps-download;
  }
}

.icon-mappps-upload {
  &::before {
    content: variables.$icon-mappps-upload;
  }
}

.icon-mappps-plus {
  &::before {
    content: variables.$icon-mappps-plus;
  }
}

.icon-mappps-bin {
  &::before {
    content: variables.$icon-mappps-bin;
  }
}

.icon-mappps-pen {
  &::before {
    content: variables.$icon-mappps-pen;
  }
}

.icon-mappps-filter {
  &::before {
    content: variables.$icon-mappps-filter;
  }
}

.icon-mappps-mail {
  &::before {
    content: variables.$icon-mappps-mail;
  }
}

.icon-mappps-phone {
  &::before {
    content: variables.$icon-mappps-phone;
  }
}

.icon-mappps-check {
  &::before {
    content: variables.$icon-mappps-check;
  }
}

.icon-mappps-eye {
  &::before {
    content: variables.$icon-mappps-eye;
  }
}

.icon-mappps-cross {
  &::before {
    content: variables.$icon-mappps-cross;
  }
}

.icon-mappps-information {
  &::before {
    content: variables.$icon-mappps-information;
  }
}

.icon-mappps-search {
  &::before {
    content: variables.$icon-mappps-search;
  }
}

.icon-mappps-arrow-left {
  &::before {
    content: variables.$icon-mappps-arrow-left;
  }
}

.icon-mappps-arrow-right-plain {
  &::before {
    content: variables.$icon-mappps-arrow-right-plain;
  }
}

.icon-mappps-arrow-left-plain {
  &::before {
    content: variables.$icon-mappps-arrow-left-plain;
  }
}

.icon-mappps-arrow-right {
  &::before {
    content: variables.$icon-mappps-arrow-right;
  }
}

.icon-mappps-arrow-bottom {
  &::before {
    content: variables.$icon-mappps-arrow-bottom;
  }
}

.icon-mappps-user {
  &::before {
    content: variables.$icon-mappps-user;
  }
}
