@use 'sass:string';
$icomoon-font-family: 'mappps-icon' !default;
$icomoon-font-path: 'fonts' !default;

$icon-mappps-list: string.unquote('"\\e920"');
$icon-mappps-shrink: string.unquote('"\\e91f"');
$icon-mappps-map: string.unquote('"\\e91e"');
$icon-mappps-enlarge: string.unquote('"\\e91d"');
$icon-mappps-refresh: string.unquote('"\\e91b"');
$icon-mappps-minus: string.unquote('"\\e91a"');
$icon-mappps-sun: string.unquote('"\\e90f"');
$icon-mappps-moon: string.unquote('"\\e915"');
$icon-mappps-marker: string.unquote('"\\e916"');
$icon-mappps-geolocation: string.unquote('"\\e917"');
$icon-mappps-fullscreen: string.unquote('"\\e918"');
$icon-mappps-fullscreen-exit: string.unquote('"\\e919"');
$icon-mappps-new-tab: string.unquote('"\\e908"');
$icon-mappps-exit: string.unquote('"\\e90e"');
$icon-mappps-download: string.unquote('"\\e906"');
$icon-mappps-upload: string.unquote('"\\e907"');
$icon-mappps-plus: string.unquote('"\\e905"');
$icon-mappps-bin: string.unquote('"\\e901"');
$icon-mappps-pen: string.unquote('"\\e904"');
$icon-mappps-filter: string.unquote('"\\e914"');
$icon-mappps-mail: string.unquote('"\\e90a"');
$icon-mappps-phone: string.unquote('"\\e909"');
$icon-mappps-check: string.unquote('"\\e913"');
$icon-mappps-eye: string.unquote('"\\e912"');
$icon-mappps-cross: string.unquote('"\\e911"');
$icon-mappps-information: string.unquote('"\\e910"');
$icon-mappps-search: string.unquote('"\\e90d"');
$icon-mappps-arrow-left: string.unquote('"\\e90c"');
$icon-mappps-arrow-right-plain: string.unquote('"\\e90b"');
$icon-mappps-arrow-left-plain: string.unquote('"\\e900"');
$icon-mappps-arrow-right: string.unquote('"\\e903"');
$icon-mappps-arrow-bottom: string.unquote('"\\e91c"');
$icon-mappps-user: string.unquote('"\\e902"');
