[type='checkbox'] {
  --checkbox-size: 18px;
  --checkbox-radius: var(--radius-md);
  --checkbox-bg-color: var(--color-white);
  --checkbox-border-color: var(--color-gray-700);
  --checkbox-check-color: var(--color-primary);

  display: inline-grid;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  margin: 0;
  border: 1px solid var(--checkbox-border-color);
  border-radius: var(--checkbox-radius);
  background-color: var(--checkbox-bg-color);
  color: currentColor;
  cursor: pointer;
  appearance: none;
  place-content: center;
  aspect-ratio: 1;

  &::before {
    content: none !important;
  }

  &::after {
    content: '';
    width: calc(var(--checkbox-size) / 1.5);
    height: calc(var(--checkbox-size) / 1.5);
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
    transform: scale(0);
    // transform-origin: bottom left;
    transition: var(--nomotion, transform 0.2s ease-in-out);
    background-color: var(--checkbox-check-color);
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }

  &:checked {
    &::after {
      transform: scale(1);
    }
  }
}
