.responsive-wrapper.in-editor {
  &:not([data-has-posts='true']) {
    &.is-selected {
      .loader__helper-text {
        &[data-status='idle'] {
          display: none;
        }

        &[data-status='loading'] {
          display: block;
        }
      }
    }

    &:not(.is-selected) {
      .loader__helper-text {
        &[data-status='idle'] {
          display: block;
        }

        &[data-status='loading'] {
          display: none;
        }
      }
    }

    .wp-block-mppps-loader {
      opacity: 1;
    }

    [class*='wp-block-mppps-'] {
      pointer-events: none;
    }
  }
}
