@use '/src/helpers/styles/abstracts/responsive' as *;
@use '/src/helpers/styles/abstracts/variables';

.mappps-blocks__wizard {
  .components-placeholder__fieldset {
    flex-direction: column;
    // gap: var(--spacing-md);
    // display: grid;
    // grid-template-columns: 1fr;

    // @include container-breakpoint-up(mappps, #{variables.$mobile-breakpoint}) {
    //   display: flex;
    // }

    // & > form {
    //   display: inherit;
    //   grid-template-columns: inherit;
    //   width: initial;
    //   gap: inherit;
    // }

    // select[multiple] {
    //   resize: vertical;
    // }

    // .components-base-control {
    //   &__field {
    //     margin-bottom: 0;
    //   }
    // }

    // .components-button {
    //   display: block;
    //   align-self: end;
    // }
  }
}
