.leaflet-control-container {
  .leaflet-left {
    inset-inline-start: 0;

    .leaflet-control {
      margin-left: initial;
      margin-inline-start: 10px;
    }
  }

  .leaflet-right {
    inset-inline-end: 0;

    .leaflet-control {
      margin-right: initial;
      margin-inline-end: 10px;
    }
  }

  a {
    text-decoration: none;

    &:has(span[class^='icon-mappps']) {
      display: grid;
      place-items: center;
    }
  }

  span[class^='icon-mappps'] {
    font-size: 16px;
  }

  span[class='icon-mappps-geolocation'] {
    font-size: 20px;
  }
}
