.wp-block-mps-post-details {
  *,
  & {
    pointer-events: var(--details-pe, none) !important;
  }

  &.is-selected,
  &.has-child-selected {
    --details-transition: var(--nomotion, transform 0.3s ease-in-out), var(--nomotion, opacity 0.3s ease-in-out 0.15s);
    --details-transform: 0%;
    --details-opacity: 1;
    --details-pe: all;
  }
}
