// -----------------------------------------------------------------------------
// This file contains all application-wide Sass keyframes.
// -----------------------------------------------------------------------------

@keyframes loader-rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes loader-draw {
  0% {
    stroke-dashoffset: 670px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes loader-translateX {
  from {
    left: -265px;
  }

  to {
    left: 0;
  }
}
