.wp-block-mps-post-template {
  & > ul {
    .post-template__record {
      transition: var(--nomotion, background-color 0.3s ease);

      &:hover {
        background-color: var(--bg-hover-color, var(--color-gray-100));
      }
    }
  }
}
