@charset "UTF-8";
// 1. Configuration and helpers
@use '/src/helpers/styles/abstracts/functions';
@use '/src/helpers/styles/abstracts/variables';
@use '/src/helpers/styles/abstracts/mixins';
@use '/src/helpers/styles/abstracts/responsive';

.post-template__posts-wrapper {
  overflow-y: auto;
  overscroll-behavior: contain;
}

.wp-block-mppps-post-template {
  overflow: auto;
  transition: var(--nomotion, background-color 0.3s ease);

  &[data-hidden='true'] {
    display: none;
  }

  &:not(.wp-block) {
    &:hover,
    &[data-selected='true'] {
      background-color: var(--bg-hover-color, var(--color-gray-100));
    }
  }

  & > ul {
    display: grid;
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
  }
}
