// -----------------------------------------------------------------------------
// This file contains all application-wide Sass keyframes.
// -----------------------------------------------------------------------------

@keyframes loader-rotate {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes loader-draw {
  0% {
    stroke-dashoffset: 670px;
  }

  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes loader-translateX {
  from {
    left: -265px;
  }

  to {
    left: 0;
  }
}

@keyframes marker-pulsate {
  0% {
    opacity: 0;
    filter: alpha(opacity=0);
  }

  50% {
    opacity: 1;
    filter: none;
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
    filter: alpha(opacity=0);
  }
}

@keyframes marker-appear {
  0% {
    transform: translateY(-2000px);
    opacity: 0;
    filter: alpha(opacity=0);
  }

  60% {
    transform: translateY(30px);
    opacity: 1;
    filter: none;
  }

  80% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes marker-bounce {
  0% {
    transform: scale(1, 1) translateY(0);
  }

  10% {
    transform: scale(1.1, 0.9) translateY(0);
  }

  30% {
    transform: scale(0.9, 1.1) translateY(-10px);
  }

  50% {
    transform: scale(1.05, 0.95) translateY(0);
  }

  57% {
    transform: scale(1, 1) translateY(-2px);
  }

  64% {
    transform: scale(1, 1) translateY(0);
  }

  100% {
    transform: scale(1, 1) translateY(0);
  }
}
