.wp-block-mps-post-template {
  height: 100%;
  margin: 0;
  overflow: auto;

  &[data-hidden='true'] {
    display: none;
  }

  & > ul {
    display: grid;
    margin: 0 !important;
    padding: 0 !important;
    list-style: none;
  }
}
