@charset "UTF-8";
// 1. Configuration and helpers
@import '../../../maaaps-blocks/assets/styles/abstracts/functions';
@import '../../../maaaps-blocks/assets/styles/abstracts/variables';
@import '../../../maaaps-blocks/assets/styles/abstracts/mixins';
@import '../../../maaaps-blocks/assets/styles/abstracts/animations';
@import '../../../maaaps-blocks/assets/styles/abstracts/keyframes';
@import '../../../maaaps-blocks/assets/styles/abstracts/responsive';

.wp-block-mps-searchbar {
  position: relative;

  &:has(.search-wrapper__results) {
    --button-radius-bottom: 0;
  }

  .search-wrapper {
    &__form {
      display: flex;
      position: relative;
      align-items: flex-end;

      .form {
        &__input {
          width: 100%;
          min-height: initial;
          padding: var(--spacing-sm) calc(var(--spacing-sm) * 3) var(--spacing-sm) 0;
          overflow: hidden;
          border: none;
          border-bottom: 1px solid var(--color-primary);
          border-radius: 0;

          &:focus {
            outline: none;
            box-shadow: none;
          }

          &::-webkit-search-cancel-button {
            display: none;
          }

          &:placeholder-shown {
            & ~ [type='submit'] {
              cursor: not-allowed;

              &:hover {
                opacity: initial;
              }
            }
          }
        }

        &__button {
          width: var(--button-size);
          height: calc(var(--button-size) + 2px);
          padding: 0;
          transition: var(--nomotion, opacity 0.2s ease-in-out);
          border: none;
          background: none;
          cursor: pointer;

          --button-size: 32px;

          &:hover {
            opacity: 0.8;
          }

          &--submit {
            padding: var(--spacing-sm);
            transition: var(--nomotion, border-radius 0.2s ease-in-out);
            border-top-left-radius: var(--radius-md);
            border-top-right-radius: var(--radius-md);
            border-bottom-right-radius: var(--button-radius-bottom, var(--radius-md));
            border-bottom-left-radius: 0;
            background-color: var(--color-primary);
            color: var(--color-button-primary);
          }

          &--reset {
            position: absolute;
            right: var(--button-size);
            bottom: 0;
            color: var(--color-gray-700);
            font-size: 10px;
          }
        }
      }
    }

    &__results {
      position: absolute;
      z-index: 1;
      top: 100%;
      right: 0;
      left: 0;
      padding: var(--spacing-xs) var(--spacing-sm);
      border: 1px solid var(--color-primary);
      border-top: none;
      border-bottom-right-radius: var(--radius-md);
      border-bottom-left-radius: var(--radius-md);
      background-color: var(--color-white);
      box-shadow: var(--shadow-search);

      ul {
        max-height: 200px;
        margin: 0;
        padding: 0;
        overflow-y: auto;
        list-style: none;
        overscroll-behavior: contain;

        li {
          display: flex;
          padding: var(--spacing-sm) 0;
          cursor: pointer;

          & + li {
            border-top: 1px solid var(--color-gray-300);
          }

          span {
            display: block;
            padding: 0 var(--spacing-xs);
            transition: var(--nomotion, background-color 0.3s ease);
            border-radius: var(--radius-md);

            &:hover {
              background-color: var(--color-gray-100);
            }
          }
        }
      }
    }
  }
}
