@charset "UTF-8";
// 1. Configuration and helpers
@use '/src/helpers/styles/abstracts/functions';
@use '/src/helpers/styles/abstracts/variables';
@use '/src/helpers/styles/abstracts/mixins';
@use '/src/helpers/styles/abstracts/responsive' as *;

.wp-block-mppps-filters-toggle {
  --bg-color: var(--color-primary);
  --color: var(--color-button-primary);

  display: grid;

  .counter {
    display: grid;
    min-width: 16px;
    height: 16px;
    margin: 0 var(--spacing-sm);
    padding: 2px;
    border-radius: 200px;
    background-color: var(--color-secondary);
    color: var(--color-button-secondary);
    font-size: var(--font-level-xs);
    line-height: 1;
    place-items: center;
  }
}
