@charset "UTF-8";

// 1. Configuration and helpers
@use '/src/helpers/styles/abstracts/functions';
@use '/src/helpers/styles/abstracts/variables';
@use '/src/helpers/styles/abstracts/mixins';
@use '/src/helpers/styles/abstracts/responsive';

// 2. Vendors
@use '/src/helpers/styles/vendors/reset';

// 3. Components
@use 'components/media-selector';

.mppps-admin-page-wrap {
  h3 {
    font-size: 1rem;
  }
}
