@charset "UTF-8";
// 1. Configuration and helpers
@use '/src/helpers/styles/abstracts/functions';
@use '/src/helpers/styles/abstracts/variables';
@use '/src/helpers/styles/abstracts/mixins';
@use '/src/helpers/styles/abstracts/responsive' as *;

.mappps-query-confirm-container {
  .components-notice {
    position: relative;
    margin-bottom: 1rem;
    margin-inline: 1rem;
    text-align: start;

    &::before {
      content: '';
      position: absolute;
      z-index: 0;
      opacity: 0.1;
      background-color: var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9));
      inset: 0;
    }

    p:nth-last-child(2) {
      margin: 0;
    }
  }
}

.wp-block-mppps-mappps-blocks {
  --mobile-height: 750px;

  .responsive-wrapper {
    & > .block-editor-inner-blocks {
      & > .block-editor-block-list__layout {
        display: grid;
        position: relative;
        grid-template-columns: 1fr;
        width: 100%;
        height: var(--mobile-height, 80svh);
        max-height: var(--mobile-height, 80svh);
        overflow: hidden;

        @include container-breakpoint-up(mappps, #{variables.$mobile-breakpoint}) {
          grid-template-areas: 'sidebar map';
          grid-template-columns: auto 1fr;
          height: calc(100cqw / (var(--ratio)));
          max-height: 80svh;
          aspect-ratio: var(--ratio);
        }
      }
    }
  }
}
