@charset "UTF-8";
// 1. Configuration and helpers
@import '../../../../src/helpers/styles/abstracts/functions';
@import '../../../../src/helpers/styles/abstracts/variables';
@import '../../../../src/helpers/styles/abstracts/mixins';
@import '../../../../src/helpers/styles/abstracts/responsive';

.wp-block-mps-mappps-blocks {
  --mobile-height: 750px;

  .responsive-wrapper {
    & > .block-editor-inner-blocks {
      & > .block-editor-block-list__layout {
        display: grid;
        position: relative;
        grid-template-columns: 1fr;
        width: 100%;
        height: var(--mobile-height, 80svh);
        max-height: var(--mobile-height, 80svh);
        overflow: hidden;

        @include container-breakpoint-up(mappps, #{$mobile-breakpoint}) {
          grid-template-areas: 'sidebar map';
          grid-template-columns: auto 1fr;
          height: calc(100cqw / (var(--ratio)));
          max-height: 80svh;
          aspect-ratio: var(--ratio);
        }
      }
    }
  }
}
