@charset "UTF-8";
// 1. Configuration and helpers
@import '../../../maaaps-blocks/assets/styles/abstracts/functions';
@import '../../../maaaps-blocks/assets/styles/abstracts/variables';
@import '../../../maaaps-blocks/assets/styles/abstracts/mixins';
@import '../../../maaaps-blocks/assets/styles/abstracts/animations';
@import '../../../maaaps-blocks/assets/styles/abstracts/keyframes';
@import '../../../maaaps-blocks/assets/styles/abstracts/responsive';

.wp-block-mps-post-details {
  position: absolute !important;
  z-index: 99999;
  bottom: var(--spacing-lg);
  inset-inline-start: 50%;
  grid-template: 'popup' auto;
  width: 340px;
  max-width: calc(100% - (var(--spacing-md) * 2));
  height: 240px;
  overflow: hidden;
  transform: translateX(-50%);
  transition:
    all 0.3s ease-in-out,
    var(--popup-transition, var(--nomotion, transform 0.3s ease-in-out 0.15s), var(--nomotion, opacity 0.3s ease-in-out));
  border-radius: var(--radius-md);
  opacity: var(--popup-opacity, 0);
  background-color: var(--color-white);
  pointer-events: var(--popup-pe, none);

  &[data-expanded='true'] {
    @include container-breakpoint-down(maaaps, #{$mobile-breakpoint}) {
      bottom: 0;
      width: 100%;
      max-width: initial;
      height: 100%;
    }
  }

  @include container-breakpoint-up(maaaps, #{$mobile-breakpoint}) {
    top: 0;
    bottom: 0;
    inset-inline-start: var(--sidebar-size, 25cqw);
    width: var(--details-size, max-content);
    height: var(--wrapper-height);
    transform: translateX(var(--popup-transform, -100%));
    border-radius: 0;
  }

  &.is-selected,
  &[data-hidden='false'] {
    --popup-transition: var(--nomotion, transform 0.3s ease-in-out), var(--nomotion, opacity 0.3s ease-in-out 0.15s);
    --popup-transform: 0%;
    --popup-opacity: 1;
    --popup-pe: all;
  }
}
