$icomoon-font-family: 'mappps-icon' !default;
$icomoon-font-path: 'fonts' !default;

$icon-mappps-list: '\e920';
$icon-mappps-shrink: '\e91f';
$icon-mappps-map: '\e91e';
$icon-mappps-enlarge: '\e91d';
$icon-mappps-refresh: '\e91b';
$icon-mappps-minus: '\e91a';
$icon-mappps-sun: '\e90f';
$icon-mappps-moon: '\e915';
$icon-mappps-marker: '\e916';
$icon-mappps-geolocation: '\e917';
$icon-mappps-fullscreen: '\e918';
$icon-mappps-fullscreen-exit: '\e919';
$icon-mappps-new-tab: '\e908';
$icon-mappps-exit: '\e90e';
$icon-mappps-download: '\e906';
$icon-mappps-upload: '\e907';
$icon-mappps-plus: '\e905';
$icon-mappps-bin: '\e901';
$icon-mappps-pen: '\e904';
$icon-mappps-filter: '\e914';
$icon-mappps-mail: '\e90a';
$icon-mappps-phone: '\e909';
$icon-mappps-check: '\e913';
$icon-mappps-eye: '\e912';
$icon-mappps-cross: '\e911';
$icon-mappps-information: '\e910';
$icon-mappps-search: '\e90d';
$icon-mappps-arrow-left: '\e90c';
$icon-mappps-arrow-right-plain: '\e90b';
$icon-mappps-arrow-left-plain: '\e900';
$icon-mappps-arrow-right: '\e903';
$icon-mappps-arrow-bottom: '\e91c';
$icon-mappps-user: '\e902';
