@charset "UTF-8";
// 1. Configuration and helpers
@import '../../../../src/helpers/styles/abstracts/functions';
@import '../../../../src/helpers/styles/abstracts/variables';
@import '../../../../src/helpers/styles/abstracts/mixins';
@import '../../../../src/helpers/styles/abstracts/responsive';
@import '../../../../src/helpers/styles/abstracts/keyframes';
@import './abstracts/keyframes';

.wp-block-mps-loader {
  position: absolute !important;
  z-index: 99999;
  transition: var(--nomotion, opacity 0.2s ease-in-out);
  // background-color: var(--wp--preset--color--base);
  inset: 0;

  // --spinner-size: 125px;
  --color: currentColor;

  opacity: var(--loader-opacity, 0);
  pointer-events: var(--loader-pe, none) !important;

  &:not(.wp-block) {
    &:not([data-has-posts]) {
      --loader-opacity: 1;
      --loader-pe: all;
    }
  }

  .loader {
    &__helper-text {
      display: none;
      position: absolute;
      top: 15%;
      left: 50%;
      max-width: 100%;
      padding: var(--spacing-md);
      transform: translateX(-50%);
      color: var(--color-gray-700);

      .helper-text__animate {
        animation: easeIn 1.5s ease-in var(--delay, 0s) infinite alternate-reverse;

        &:nth-child(2) {
          --delay: 0.5s;
        }

        &:nth-child(3) {
          --delay: 1s;
        }
      }
    }

    &__spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      width: var(--spinner-size);
      height: var(--spinner-size);
      animation: loader-rotate 2s linear infinite;
      border: 1px solid;
      border-radius: 50%;
      border-color: var(--color);
      border-top-color: transparent;
      border-left-color: transparent;
    }

    &__map {
      position: absolute;
      top: 50%;
      left: 50%;
      width: var(--spinner-size);
      height: var(--spinner-size);
      overflow: hidden;
      transform: translate(-50%, -50%);
      border-radius: 50%;

      svg {
        position: absolute;
        width: initial;
        max-width: initial;
        height: initial;
        overflow: visible;
        animation:
          loader-draw 5s infinite ease-in-out alternate,
          loader-translateX 5s -2.5s infinite ease-in-out reverse;
        stroke-width: 2;
        stroke-dasharray: 670px;
        stroke: var(--color);
        vertical-align: initial;
        fill-opacity: 0;
        stroke-opacity: 1;

        path {
          width: initial;
          height: initial;
        }
      }
    }
  }
}
