.leaflet-control-container {
  .leaflet-left {
    left: initial;
    inset-inline-start: 0;

    .leaflet-control {
      margin-left: initial;
      margin-inline-start: 10px;
    }
  }

  .leaflet-right {
    right: initial;
    inset-inline-end: 0;

    .leaflet-control {
      margin-right: initial;
      margin-inline-end: 10px;
    }
  }

  a {
    text-decoration: none;

    &:has(span[class^='icon-maaaps']) {
      display: grid;
      place-items: center;
    }
  }

  span[class^='icon-maaaps'] {
    font-size: 16px;
  }

  span[class='icon-maaaps-geolocation'] {
    font-size: 20px;
  }
}
