.filters-form {
  display: grid;
  position: absolute;
  z-index: 99999;
  top: 0;
  bottom: 0;
  left: 0;
  grid-auto-flow: row;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
  width: 100%;
  padding: var(--spacing-md) var(--spacing-lg);
  transform: translateX(var(--form-transform, -100%));
  transition: var(--form-transition, var(--nomotion, transform 0.3s ease-in-out 0.15s), var(--nomotion, opacity 0.3s ease-in-out));
  opacity: var(--form-opacity, 0);
  background-color: var(--color-white);
  pointer-events: var(--form-pe, none);

  @include container-breakpoint-up(mappps, #{$mobile-breakpoint}) {
    left: var(--sidebar-size, 25cqw);
    width: var(--filter-size, max-content);
    min-width: max-content;
    border-left: 1px solid var(--color-gray-300);
  }

  &[data-open='true'] {
    --form-transition: var(--nomotion, transform 0.3s ease-in-out), var(--nomotion, opacity 0.3s ease-in-out 0.15s);
    --form-transform: 0;
    --form-opacity: 1;
    --form-pe: all;
  }

  ul {
    margin: 0;
    list-style: none;
  }

  .filters-form {
    &__header {
      display: flex;
      align-items: start;
      justify-content: space-between;

      .header {
        &__title {
          margin-top: var(--spacing-sm);
          font-size: var(--font-level-lg);
        }

        &__close {
          --bg-color: var(--color-secondary);
          --color: var(--color-button-secondary);
        }
      }
    }

    &__list {
      grid-column: span 2;
      max-height: 36cqh;
      margin: var(--spacing-md) 0;
      padding: 0;
      overflow: auto;

      .list__element {
        position: relative;

        label {
          display: flex;
          align-items: center;
          cursor: pointer;
          user-select: none;
          gap: var(--spacing-sm);
        }

        & + .list__element {
          margin-top: var(--spacing-sm);
        }

        &:has(.list__sublist) {
          &::before {
            content: '';
            position: absolute;
            top: 32px;
            bottom: 0;
            inset-inline-start: 7px;
            width: 1px;
            transform: translateX(50%);
            background-color: var(--color-gray-300);
          }
        }
      }

      .list__sublist {
        margin-top: var(--spacing-sm);
        padding-left: var(--spacing-md);
      }
    }

    &__footer {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: var(--spacing-md);

      .footer {
        &__reset,
        &__submit {
          --padding: var(--spacing-sm) var(--spacing-lg);
        }

        &__reset {
          --color: var(--color-button-secondary);
          --bg-color: var(--color-secondary);
        }

        &__submit {
          --color: var(--color-button-primary);
          --bg-color: var(--color-primary);
        }
      }
    }
  }
}
