@use 'sass:meta';
@use '/src/helpers/styles/abstracts/responsive' as *;
@use '/src/helpers/styles/abstracts/variables';

.mappps__sidebar {
  display: grid;
  position: relative;
  grid-template-rows: auto 1fr;
  width: 100%;
  height: inherit;
  max-height: inherit;
  background-color: var(--color-white);

  @include container-breakpoint-up(mappps, #{variables.$mobile-breakpoint}) {
    z-index: 999;
    grid-area: sidebar;
    width: var(--sidebar-size, 25cqw);
  }

  .sidebar__articles-wrapper {
    position: relative;
    overflow-y: auto;
    border-top: 1px solid var(--color-gray-300);
    overscroll-behavior: contain;

    @include meta.load-css('sidebar/article');
  }

  .sidebar__heading {
    @include meta.load-css('sidebar/search');
    @include meta.load-css('sidebar/filters');
  }
}
