.sidebar__filters-wrapper {
  display: grid;
  margin: var(--spacing-md) var(--spacing-lg);

  .filters-wrapper__toggle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--spacing-sm);
    transition: var(--nomotion, opacity 0.2s ease-in-out);
    border: none;
    border-radius: var(--radius-md);
    background-color: var(--color-primary);
    color: var(--color-button-primary);
    cursor: pointer;
    user-select: none;

    &:hover {
      opacity: 0.8;
    }

    span[class^='icon-maaaps-'] {
      margin-left: auto;
    }

    .toggle__counter {
      display: grid;
      min-width: 16px;
      height: 16px;
      margin: 0 var(--spacing-sm);
      padding: 2px;
      border-radius: 200px;
      background-color: var(--color-secondary);
      color: var(--color-button-secondary);
      font-size: var(--font-level-xs);
      line-height: 1;
      place-items: center;
    }
  }
}
