@charset "UTF-8";

// 1. Configuration and helpers
@import 'abstracts/keyframes';

// 5. Components
@import 'components/map/loader';
@import 'components/map/marker';

.wp-block-mps-maaaps {
  display: grid;
  position: relative;
  background-color: red !important;
  aspect-ratio: 1;
}
