@charset "UTF-8";

// 1. Configuration and helpers
@import 'abstracts/keyframes';

// 5. Components
@import 'components/map/loader';
@import 'components/map/marker';

.wp-block-mps-maaaps {
  display: grid;
  display: grid;
  position: relative;
  grid-template-areas: 'sidebar map';
  grid-template-columns: auto 1fr;
  width: 100%;
  aspect-ratio: 1;

  .maaaps {
    &__leaflet {
      grid-area: map;
    }

    &__sidebar {
      grid-area: sidebar;
      width: 200px; // TODO: is fake width
    }
  }
}
