.maaaps__sidebar {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  overflow: hidden;

  @include container-breakpoint-up(maaaps, #{$mobile-breakpoint}) {
    grid-area: sidebar;
    width: 25cqw;
  }

  .sidebar__articles-wrapper {
    overflow-y: auto;

    @import 'sidebar/article';
  }

  .sidebar__heading {
    @import 'sidebar/search';
    @import 'sidebar/title';
  }
}
