.maaaps__wizard {
  .components-placeholder__fieldset {
    gap: var(--spacing-md);
    display: grid;

    @include container-breakpoint-up(maaaps, #{$mobile-breakpoint}) {
      display: flex;
    }

    & > form {
      display: inherit;
      width: initial;
      gap: inherit;
    }

    .components-base-control {
      &__field {
        margin-bottom: 0;
      }
    }

    .components-button {
      display: block;
      align-self: end;
    }
  }
}
