@use '/src/helpers/styles/abstracts/responsive' as *;
@use '/src/helpers/styles/abstracts/variables';

// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

//
// Make all elements from the DOM inherit from the parent box-sizing
// Since `*` has a specificity of 0, it does not override the `html` value
// making all elements inheriting from the root box-sizing value
// See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
//

.wp-block-mppps-mappps-blocks {
  --ratio: var(--aspect-ratio, var(--base-aspect-ratio));

  display: grid;
  position: relative;
  z-index: 0;
  box-sizing: border-box;
  overflow: hidden;
  container-type: inline-size;
  container-name: mappps;

  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  .responsive-wrapper {
    @include container-breakpoint-down(mappps, #{variables.$mobile-breakpoint}) {
      --is-mobile: #f00;
    }

    [class*='wp-block-mppps-'],
    .details-wrapper {
      margin-block-start: initial;
      margin-block-end: initial;
    }
  }
}
