.wp-block-mps-sidebar {
  &.is-selected,
  &.has-child-selected {
    --sidebar-transform: translateX(0);
    --sidebar-opacity: 1;
    --sidebar-pointer-events: auto;
  }

  & > .block-editor-inner-blocks {
    height: 100%;

    & > .block-editor-block-list__layout {
      position: relative;
      width: 100%;
      height: inherit;
      background-color: var(--color-white);
    }
  }
}
