@charset "UTF-8";
// 1. Configuration and helpers
@use '/src/helpers/styles/abstracts/functions';
@use '/src/helpers/styles/abstracts/variables';
@use '/src/helpers/styles/abstracts/mixins';
@use '/src/helpers/styles/abstracts/responsive' as *;

.wp-block-mppps-mappps-blocks {
  &[data-mobile-map-display='false'] {
    --sidebar-transform: translateX(0);
    --sidebar-opacity: 1;
    --sidebar-pointer-events: auto;
  }
}

.wp-block-mppps-sidebar {
  display: flex;
  z-index: 1000;
  flex-direction: column;
  width: 100%;
  height: inherit;
  max-height: var(--wrapper-height);
  transition: var(--nomotion, opacity 0.2s ease-in-out);

  @include container-breakpoint-down(mappps, #{variables.$mobile-breakpoint}) {
    position: absolute !important;
    width: 100%;
    inset: 0;
    transform: var(--sidebar-transform, translateX(-100%));
    transition: var(--nomotion, transform 0.3s ease-in-out), var(--nomotion, opacity 0.2s ease-in-out);
    opacity: var(--sidebar-opacity, 0);
    pointer-events: var(--sidebar-pointer-events, none);
  }

  @include container-breakpoint-up(mappps, #{variables.$mobile-breakpoint}) {
    grid-area: sidebar;
    width: var(--sidebar-size, 25cqw);
  }

  & > hr.is-style-wide {
    width: 100%;
  }
}
