.custom-marker {
  .marker-icon {
    display: grid;
    position: relative;
    container-type: inline-size;
    container-name: mappps-marker;
    transition: var(--nomotion, transform 0.2s ease-in-out);

    svg {
      path {
        transition: var(--nomotion, fill 0.2s ease-in-out);
        fill: var(--svg-fill-color, var(--color-marker));
      }
    }

    &__pulse {
      display: grid;
      position: absolute;
      z-index: -2;
      top: 85%;
      left: 50%;
      width: 25%;
      height: 25%;
      margin: 0;
      transform: translate(-50%) rotateX(55deg);
      animation: easeIn 2s ease-in 1.1s;
      border-radius: 50%;
      background: var(--color-gray-500);
      place-items: center;

      &::after {
        content: '';
        position: absolute;
        width: 80cqw;
        height: 80cqw;
        animation: marker-pulsate 2s ease-out 1.1s;
        animation-iteration-count: infinite;
        border-radius: 50%;
        opacity: 0;
        box-shadow: 0 0 1px 2px var(--color-gray-500);
        filter: alpha(opacity=0);
      }
    }
  }

  &--active {
    --svg-fill-color: var(--color-marker-active);

    stroke: var(--color-secondary);

    .marker-icon {
      transform: scale(1.4);
      transform-origin: bottom center;
    }
  }

  &--search {
    --svg-fill-color: var(--color-marker-search);
  }

  &--geolocation {
    --svg-fill-color: var(--color-marker-geolocation);
  }

  &--cluster {
    --svg-fill-color: var(--color-cluster);

    .marker-icon {
      &__child-count {
        position: absolute;
        z-index: 99999;
        top: 40cqw;
        left: 50cqw;
        transform: translate(-50%, -50%);
        color: var(--color-white);
      }
    }
  }
}
