.wp-block-mps-mobile-toggles {
  position: absolute !important;

  --toggle-filters-opacity: 1;
  --toggle-filters-transition: var(--nomotion, opacity 0.2s ease-in-out 0.2s);
  --toggle-filters-pe: all;
}
