.wp-block-mppps-mobile-toggles {
  --toggle-filters-opacity: 1;
  --toggle-filters-transition: var(--nomotion, opacity 0.2s ease-in-out 0.2s);
  --toggle-filters-pe: all;

  position: absolute !important;
}
