@charset "UTF-8";
// 1. Configuration and helpers
@import '../../../../src/helpers/styles/abstracts/functions';
@import '../../../../src/helpers/styles/abstracts/variables';
@import '../../../../src/helpers/styles/abstracts/mixins';
@import '../../../../src/helpers/styles/abstracts/responsive';

.wp-block-mps-mappps-blocks {
  &[data-mobile-map-display='true'][data-filters-open='false'] {
    .wp-block-mps-mobile-toggles {
      --toggle-filters-opacity: 1;
      --toggle-filters-transition: var(--nomotion, opacity 0.2s ease-in-out 0.2s);
      --toggle-filters-pe: all;
    }
  }

  &:not(:has(.wp-block-mps-sidebar)) {
    &:has(.wp-block-mps-filters) {
      .wp-block-mps-mobile-toggles {
        .toggles__filters {
          @include container-breakpoint-up(mappps, #{$mobile-breakpoint}) {
            --toggle-display: block;
          }
        }
      }
    }
  }
}

.wp-block-mps-mobile-toggles {
  position: absolute;
  inset: 0;
  z-index: 1000;
  pointer-events: none;

  @include container-breakpoint-up(mappps, #{$mobile-breakpoint}) {
    --toggle-display: none;
  }

  .toggles {
    &__map,
    &__list,
    &__filters {
      display: var(--toggle-display, inline-grid) !important;
      position: absolute;
      width: 40px;
      height: 40px;
      box-shadow: var(--shadow-button);
      pointer-events: all;

      --font-size: var(--font-level-md);
      --bg-color: var(--color-primary);
      --color: var(--color-button-primary);
    }

    &__map,
    &__list {
      bottom: var(--spacing-lg);
      left: 50%;
      transform: translateX(-50%);
      text-transform: uppercase;
    }

    &__filters {
      position: absolute;
      top: var(--spacing-lg);
      left: var(--spacing-lg);
      width: 40px;
      height: 40px;
      transition: var(--toggle-filters-transition, var(--nomotion, opacity 0.1s ease-in-out));
      opacity: var(--toggle-filters-opacity, 0);
      pointer-events: var(--toggle-filters-pe, none);

      .counter {
        display: grid;
        position: absolute;
        right: 0;
        bottom: 0;
        min-width: 16px;
        height: 16px;
        padding: 2px;
        transform: translate(15%, 0%);
        border-radius: 200px;
        background-color: var(--color-secondary);
        color: var(--color-button-secondary);
        font-size: var(--font-level-xs);
        line-height: 1;
        place-items: center;
      }
    }
  }
}
