@charset "UTF-8";
// 1. Configuration and helpers
@import '../../../maaaps-blocks/assets/styles/abstracts/functions';
@import '../../../maaaps-blocks/assets/styles/abstracts/variables';
@import '../../../maaaps-blocks/assets/styles/abstracts/mixins';
@import '../../../maaaps-blocks/assets/styles/abstracts/animations';
@import '../../../maaaps-blocks/assets/styles/abstracts/keyframes';
@import '../../../maaaps-blocks/assets/styles/abstracts/responsive';

.wp-block-mps-sidebar {
  width: 100%;
  height: inherit;
  transition: var(--nomotion, opacity 0.2s ease-in-out);

  @include container-breakpoint-up(maaaps, #{$mobile-breakpoint}) {
    z-index: 999;
    grid-area: sidebar;
    width: var(--sidebar-size, 25cqw);
  }
}
