@charset "UTF-8";
// 1. Configuration and helpers
@import '../../../maaaps-blocks/assets/styles/abstracts/functions';
@import '../../../maaaps-blocks/assets/styles/abstracts/variables';
@import '../../../maaaps-blocks/assets/styles/abstracts/mixins';
@import '../../../maaaps-blocks/assets/styles/abstracts/animations';
@import '../../../maaaps-blocks/assets/styles/abstracts/keyframes';
@import '../../../maaaps-blocks/assets/styles/abstracts/responsive';

.wp-block-mps-sidebar {
  z-index: 999;
  width: 100%;
  height: inherit;
  transition: var(--nomotion, opacity 0.2s ease-in-out);

  &:not(.is-selected):not(.has-child-selected) {
    @include container-breakpoint-down(maaaps, #{$mobile-breakpoint}) {
      opacity: 0;
      pointer-events: none;
    }
  }

  @include container-breakpoint-up(maaaps, #{$mobile-breakpoint}) {
    grid-area: sidebar;
    width: var(--sidebar-size, 25cqw);
  }

  & > .block-editor-inner-blocks {
    height: 100%;

    & > .block-editor-block-list__layout {
      display: grid;
      position: relative;
      grid-template-rows: auto 1fr;
      width: 100%;
      height: inherit;
      background-color: var(--color-white);
    }
  }
}
