.custom-button {
  padding: var(--padding, var(--spacing-sm));
  transition: var(--nomotion, opacity 0.2s ease-in-out);
  border: none;
  border-radius: var(--radius, var(--radius-md));
  outline: none;
  background-color: var(--bg-color, transparent);
  color: var(--color, var(--color-black));
  font-size: var(--font-size, var(--font-level-md));
  line-height: 1;
  text-decoration: none;
  cursor: pointer;
  user-select: none;

  &:hover {
    opacity: 0.8;
    text-decoration: none;
  }

  &__only-icon {
    --radius: 200px;
    --font-size: var(--font-level-sm);

    display: inline-grid;
    background-color: var(--bg-color, var(--color-white));
    box-shadow: var(--shadow-button);
    aspect-ratio: 1;
    place-items: center;
  }

  &__with-icon {
    display: flex;
    align-items: center;

    span[class^='icon-maaaps-'] {
      margin-inline-start: auto;
    }
  }
}
