.article__picture-wrapper {
  background-color: var(--color-gray-200);

  img {
    display: block;
    position: relative;

    &::before {
      // Only work if
      // - Picture is 404
      // - Picture has an alt attribute
      content: '';
      display: grid;
      position: absolute;
      z-index: 1;
      place-items: center;
      padding: 10px;
      opacity: 0.4;
      background-image: url('#{$pictures-path}/placeholder.webp');
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
      text-align: center;
      inset: 0;
    }
  }
}
// .picture-not-found {
// }

// .picture-empty-wrapper {
//   &:empty {
//     opacity: 0.4;
//     background-image: url('#{$pictures-path}/placeholder.webp');
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
//   }
// }
