// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

//
// Make all elements from the DOM inherit from the parent box-sizing
// Since `*` has a specificity of 0, it does not override the `html` value
// making all elements inheriting from the root box-sizing value
// See: https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/
//

& {
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }

  display: grid;
  position: relative;
  width: 100%;
  overflow: hidden;
  container-type: inline-size;
  container-name: maaaps;

  // Aspect ratio handle because it's fucked up
  &:not([style*='aspect-ratio']) {
    & > .block-editor-inner-blocks {
      @include container-breakpoint-up(maaaps, #{$mobile-breakpoint}) {
        aspect-ratio: var(--base-aspect-ratio);
      }
    }
  }

  &[style*='aspect-ratio: auto'],
  &[style*='aspect-ratio:auto'] {
    & > .block-editor-inner-blocks {
      @include container-breakpoint-up(maaaps, #{$mobile-breakpoint}) {
        aspect-ratio: var(--base-aspect-ratio) !important;
      }
    }
  }

  & > .block-editor-inner-blocks {
    @include container-breakpoint-up(maaaps, #{$mobile-breakpoint}) {
      height: initial;
      aspect-ratio: inherit;
    }

    & > .block-editor-block-list__layout {
      display: grid;
      grid-template-areas: 'sidebar map';
      grid-template-columns: auto 1fr;
      height: 100%;

      .wp-block-mps-sidebar {
        width: 100%;

        @include container-breakpoint-up(maaaps, #{$mobile-breakpoint}) {
          grid-area: sidebar;
          width: var(--sidebar-size);
        }
      }

      .wp-block-mps-map {
        grid-area: map;
      }
    }
  }
}
