.maaaps__loader {
  position: absolute;
  z-index: 9999;
  transition: var(--nomotion, opacity 0.2s ease-in-out);
  background-color: var(--wp--preset--color--base);
  inset: 0;

  --spinner-size: 125px;
  --color: #bcbcbc;

  &[data-has-posts='true'] {
    opacity: 0;
    pointer-events: none;
  }

  .loader {
    &__spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      width: var(--spinner-size);
      height: var(--spinner-size);
      animation: loader-rotate 2s linear infinite;
      border: 1px solid;
      border-radius: 50%;
      border-color: var(--color);
      border-top-color: transparent;
      border-left-color: transparent;
    }

    &__map {
      position: absolute;
      top: 50%;
      left: 50%;
      width: var(--spinner-size);
      height: var(--spinner-size);
      overflow: hidden;
      transform: translate(-50%, -50%);
      border-radius: 50%;

      svg {
        position: absolute;
        width: initial;
        max-width: initial;
        height: initial;
        overflow: visible;
        animation:
          loader-draw 5s infinite ease-in-out alternate,
          loader-translateX 5s -2.5s infinite ease-in-out reverse;
        stroke-width: 2;
        stroke-dasharray: 670px;
        stroke: var(--color);
        vertical-align: initial;
        fill-opacity: 0;
        stroke-opacity: 1;

        path {
          width: initial;
          height: initial;
        }
      }
    }
  }
}
