@import "variables";

@font-face {
  font-family: '#{$icomoon-font-family}';
  src:
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?5w7fgh') format('truetype'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?5w7fgh') format('woff'),
    url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?5w7fgh##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-mappps-"], [class*=" icon-mappps-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mappps-list {
  &:before {
    content: $icon-mappps-list; 
  }
}
.icon-mappps-shrink {
  &:before {
    content: $icon-mappps-shrink; 
  }
}
.icon-mappps-map {
  &:before {
    content: $icon-mappps-map; 
  }
}
.icon-mappps-enlarge {
  &:before {
    content: $icon-mappps-enlarge; 
  }
}
.icon-mappps-refresh {
  &:before {
    content: $icon-mappps-refresh; 
  }
}
.icon-mappps-minus {
  &:before {
    content: $icon-mappps-minus; 
  }
}
.icon-mappps-sun {
  &:before {
    content: $icon-mappps-sun; 
  }
}
.icon-mappps-moon {
  &:before {
    content: $icon-mappps-moon; 
  }
}
.icon-mappps-marker {
  &:before {
    content: $icon-mappps-marker; 
  }
}
.icon-mappps-geolocation {
  &:before {
    content: $icon-mappps-geolocation; 
  }
}
.icon-mappps-fullscreen {
  &:before {
    content: $icon-mappps-fullscreen; 
  }
}
.icon-mappps-fullscreen-exit {
  &:before {
    content: $icon-mappps-fullscreen-exit; 
  }
}
.icon-mappps-new-tab {
  &:before {
    content: $icon-mappps-new-tab; 
  }
}
.icon-mappps-exit {
  &:before {
    content: $icon-mappps-exit; 
  }
}
.icon-mappps-download {
  &:before {
    content: $icon-mappps-download; 
  }
}
.icon-mappps-upload {
  &:before {
    content: $icon-mappps-upload; 
  }
}
.icon-mappps-plus {
  &:before {
    content: $icon-mappps-plus; 
  }
}
.icon-mappps-bin {
  &:before {
    content: $icon-mappps-bin; 
  }
}
.icon-mappps-pen {
  &:before {
    content: $icon-mappps-pen; 
  }
}
.icon-mappps-filter {
  &:before {
    content: $icon-mappps-filter; 
  }
}
.icon-mappps-mail {
  &:before {
    content: $icon-mappps-mail; 
  }
}
.icon-mappps-phone {
  &:before {
    content: $icon-mappps-phone; 
  }
}
.icon-mappps-check {
  &:before {
    content: $icon-mappps-check; 
  }
}
.icon-mappps-eye {
  &:before {
    content: $icon-mappps-eye; 
  }
}
.icon-mappps-cross {
  &:before {
    content: $icon-mappps-cross; 
  }
}
.icon-mappps-information {
  &:before {
    content: $icon-mappps-information; 
  }
}
.icon-mappps-search {
  &:before {
    content: $icon-mappps-search; 
  }
}
.icon-mappps-arrow-left {
  &:before {
    content: $icon-mappps-arrow-left; 
  }
}
.icon-mappps-arrow-right-plain {
  &:before {
    content: $icon-mappps-arrow-right-plain; 
  }
}
.icon-mappps-arrow-left-plain {
  &:before {
    content: $icon-mappps-arrow-left-plain; 
  }
}
.icon-mappps-arrow-right {
  &:before {
    content: $icon-mappps-arrow-right; 
  }
}
.icon-mappps-arrow-bottom {
  &:before {
    content: $icon-mappps-arrow-bottom; 
  }
}
.icon-mappps-user {
  &:before {
    content: $icon-mappps-user; 
  }
}

