$icomoon-font-family: 'maaaps-icon' !default;
$icomoon-font-path: 'fonts' !default;

$icon-maaaps-enlarge: unquote('"\\e91d"');
$icon-maaaps-refresh: unquote('"\\e91b"');
$icon-maaaps-minus: unquote('"\\e91a"');
$icon-maaaps-sun: unquote('"\\e90f"');
$icon-maaaps-moon: unquote('"\\e915"');
$icon-maaaps-marker: unquote('"\\e916"');
$icon-maaaps-geolocation: unquote('"\\e917"');
$icon-maaaps-fullscreen: unquote('"\\e918"');
$icon-maaaps-fullscreen-exit: unquote('"\\e919"');
$icon-maaaps-new-tab: unquote('"\\e908"');
$icon-maaaps-exit: unquote('"\\e90e"');
$icon-maaaps-download: unquote('"\\e906"');
$icon-maaaps-upload: unquote('"\\e907"');
$icon-maaaps-plus: unquote('"\\e905"');
$icon-maaaps-bin: unquote('"\\e901"');
$icon-maaaps-pen: unquote('"\\e904"');
$icon-maaaps-filter: unquote('"\\e914"');
$icon-maaaps-mail: unquote('"\\e90a"');
$icon-maaaps-phone: unquote('"\\e909"');
$icon-maaaps-check: unquote('"\\e913"');
$icon-maaaps-eye: unquote('"\\e912"');
$icon-maaaps-cross: unquote('"\\e911"');
$icon-maaaps-information: unquote('"\\e910"');
$icon-maaaps-search: unquote('"\\e90d"');
$icon-maaaps-arrow-left: unquote('"\\e90c"');
$icon-maaaps-arrow-right-plain: unquote('"\\e90b"');
$icon-maaaps-arrow-left-plain: unquote('"\\e900"');
$icon-maaaps-arrow-right: unquote('"\\e903"');
$icon-maaaps-arrow-bottom: unquote('"\\e91c"');
$icon-maaaps-user: unquote('"\\e902"');
