$icomoon-font-family: "mappps-icon" !default;
$icomoon-font-path: "fonts" !default;

$icon-mappps-list: unquote('"\\e920"');
$icon-mappps-shrink: unquote('"\\e91f"');
$icon-mappps-map: unquote('"\\e91e"');
$icon-mappps-enlarge: unquote('"\\e91d"');
$icon-mappps-refresh: unquote('"\\e91b"');
$icon-mappps-minus: unquote('"\\e91a"');
$icon-mappps-sun: unquote('"\\e90f"');
$icon-mappps-moon: unquote('"\\e915"');
$icon-mappps-marker: unquote('"\\e916"');
$icon-mappps-geolocation: unquote('"\\e917"');
$icon-mappps-fullscreen: unquote('"\\e918"');
$icon-mappps-fullscreen-exit: unquote('"\\e919"');
$icon-mappps-new-tab: unquote('"\\e908"');
$icon-mappps-exit: unquote('"\\e90e"');
$icon-mappps-download: unquote('"\\e906"');
$icon-mappps-upload: unquote('"\\e907"');
$icon-mappps-plus: unquote('"\\e905"');
$icon-mappps-bin: unquote('"\\e901"');
$icon-mappps-pen: unquote('"\\e904"');
$icon-mappps-filter: unquote('"\\e914"');
$icon-mappps-mail: unquote('"\\e90a"');
$icon-mappps-phone: unquote('"\\e909"');
$icon-mappps-check: unquote('"\\e913"');
$icon-mappps-eye: unquote('"\\e912"');
$icon-mappps-cross: unquote('"\\e911"');
$icon-mappps-information: unquote('"\\e910"');
$icon-mappps-search: unquote('"\\e90d"');
$icon-mappps-arrow-left: unquote('"\\e90c"');
$icon-mappps-arrow-right-plain: unquote('"\\e90b"');
$icon-mappps-arrow-left-plain: unquote('"\\e900"');
$icon-mappps-arrow-right: unquote('"\\e903"');
$icon-mappps-arrow-bottom: unquote('"\\e91c"');
$icon-mappps-user: unquote('"\\e902"');

