.wp-block-mps-filters {
  *,
  & {
    pointer-events: var(--filter-pe, none) !important;
  }

  &.is-selected,
  &.has-child-selected {
    --filter-transition: var(--nomotion, transform 0.3s ease-in-out), var(--nomotion, opacity 0.3s ease-in-out 0.15s);
    --filter-transform: 0;
    --filter-opacity: 1;
    --filter-pe: all;
  }
}
